/*override bootstrap default*/
* {
	-webkit-box-sizing: initial;
	-moz-box-sizing: initial;
	box-sizing: initial;
}

/* ost overrides */
label.checkbox { /* scp.css */
	text-indent: 0em;
}

#mxvp_departmentselect {
	max-width: max-content;
	padding-bottom: 10px;
}

#mxvp_departmentselect li {
	display: inline-block;
	margin-right: 15px;
}

#mxvp_departmentselect li.depSelected a {
	font-weight: bold;
}

.ticket-subject {
	max-width: 120em;
}

/*Status Colors*/
.status_open td:not(.ticketPrio) {
	background-color: rgb(255, 246, 195) !important;
}

.status_closed td:not(.ticketPrio) {

}

.status_answered td:not(.ticketPrio) {
	background-color: rgb(234, 234, 234) !important;
}

.status_overdue td:not(.ticketPrio) {
	background-color: #ffb85f !important;
}

.status_spam td:not(.ticketPrio) {
	background-color: rgb(197, 197, 197) !important;
}

#header {
	height: unset !important;
}

/* Side popup */
#sticky-side {
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	right: -150px;
	align-items: center;
	z-index: 9999;
}

.contact-btn {
	height: 50px;
	width: 150px;
	background-color: #2aa222;
	color: #fff;
	line-height: 50px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	transform: translatex(50px) rotate(-90deg);
	cursor: pointer;
	position: relative;
	top: 115px;
	right: 150px;
}

.gotop-btn {
    height: 51px;
    width: 101px;
    background-color: #2aa222;
    color: #fff;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transform: translatex(50px) rotate(-90deg);
    cursor: pointer;
    position: relative;
    top: 40px;
    right: 126px;
    border-left: 1px solid white;
}
.gotop-btn:hover , .contact-btn:hover {
background:hotpink;
}

#side-box {
	padding: 10px;
	border: 1px solid #e1e1e1;
	border-right: 0;
	height: auto;
	max-height: calc(100vh - 20px);
	overflow-y: auto;
	background: #fff;
	max-width: 400px;
	margin-right: -400px;
	transition: all .5s;
	box-sizing: border-box;
}

#side-box iframe{
	border: none;
}

.open-box {
	margin-right: 150px !important;
}

/* End side popup */

table.ticket_info.custom-data td:first-child {
	font-weight: bold;
}

#tickets .table td {
	max-width: 400px;
}

.assignTicketToPid {
	height: 15px;
	width: calc(100% - 10px);
	padding: 5px;
	border: 1px solid lightgray;
	margin-bottom: 2px;
	display: block;
	background: white;
	animation-fill-mode: backwards;
	cursor: pointer;
	text-align: center;
}

.assignTicketToPid:hover {
	background: #00aa00;
	color:white;
}

table.ticket_info {
	margin-bottom: 20px;
}

a.assignToprofile:not(.intable) {
	background-color: red;
    color: white;
    animation-name: blingcolor;
    font-size: 38px;
    padding: 12px;
    animation-duration: 0.5s;
	animation-iteration-count: infinite;
	transition: none;
}

@keyframes blingcolor {
	0% {
		background-color: red;
		border: 2px dotted orange !important;
	}

	50% {
		background-color: orange;
		border: 2px dotted red !important;
	}

	to {
		background-color: red;
		border: 2px dotted orange !important;
	}
}